/* Title for login page */
.title {
    text-align: center;
    margin-top: 30px;
}

/* This is the main login form box*/
.formbox {
    position: relative;
    padding: 50px;
    border: 50px;
    margin: 50px;
    background-color: ghostwhite;
    width: 1200px;
    border-radius: 5vh;
    left: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Input fields */
.form-control {
    border-radius: 2vh;
}

/* Login heading */
.login {
    text-align: center;
    font-weight: 600;
}

/* Horizontal rule under heading */
.line {
    margin: 0 auto 20px auto;
    width: 40%;
}

/* Login action links */
.login-links {
    font-size: 0.95rem;
    margin-top: 20px;
}

    .login-links a {
        font-weight: bold;
        color: black;
        text-decoration: none;
    }

        .login-links a:hover {
            text-decoration: underline;
        }
